<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAC0CAMAAAAKE/YAAAAAilBMVEU5/6E4/6A4/6A5/6AAAAAAAQEBAwIBBAMGGhAGHBIIJhgJJxgJKBkJKRoJKhoNOSQNPCYSUDIUWjgUWzkVXjsVYT0WYj0WZD8WZT8imWAjoGQkomYko2Ylp2klqWomr24nsG4nsW8ns3AouHMqvncqwHgsyn8u04Qy5ZAz6JIz6ZI18pg29Jk4/6B+2UCxAAAABHRSTlO92t/mk1zepgAAATlJREFUeNrt3cluwjAUQFEHCp0HCJCG0om20PH/f6+rLi2yMA6uzt3HOvLySS8OYVAV1iCE4U9xDUNVHrqChoaGhoaGhoaGhoaGhoY+UHQ7mdZ7bzppk6JnR1maJUU3edANNDQ0NDQ0NDQ0NDQ0NDT0X4s86EXimx4fd2gU04y6fD5OfNPb9cvuXp+uYujT+7cOB6y3Pczyvm9i6IuPgx1Afl3H0Gfv0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ/w0dX4O6/OwBvVk97O7x7jyGPmmfOxyw2iRFz/PsI86TogtdorRjCw0NDQ0NDQ0NDQ0NDQ2dF13kr5yXdXO795p62cMsL1PQ0NDQ0NDQ0NDQ0NDQ0ND50UU+kl7ic/S/UscwT7jXG+sAAAAASUVORK5CYII=">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
